@model SchoolManagmentSystem.Models.Department

@{
    ViewData["Title"] = "Delete";
}

<div class="container p-3 bg-light bg-opacity-10 border border-info border-start rounded  ">
    <h3 class="d-flex justify-content-center">Delete Department</h3>
    <hr />
    <div class="row d-flex justify-content-center ">
        <div class="row-md-4 >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DepartmentID" />
            <div class="form-group col-md-4 ">
                <label asp-for="Name" class="control-label"></label>
                <input readonly asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 ">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input readonly asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="DepartmentID" />
            <input type="submit" value="Delete" class="btn btn-danger" />
            <button class="btn btn btn-light">
                <a class="btn btn-ligt text-secondary" asp-action="Index">Back to List</a>
            </button>
        </form>
    </div>
</div>
