@{
    Layout = "_AdminLayout";
    ViewData["title"] = "Index";
}

<br />
<h1 class="d-flex justify-content-center" style="color:white;">Roles</h1>
<hr />
<br />

<div class="text-center" style="color:white;">
    <table class="table border-5" style="color:white;">
        <thead>
            <tr>
                <th>Role Name</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in ViewBag.roles)
            {
                <tr style="color:white;">
                    <td>@role</td>
                    <td>
                        <form method="post" asp-action="DeleteRole" asp-route-roleName="@role">
                            <input type="hidden" name="_method" value="DELETE" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
